<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Sysadmin">

        <!-- Bootstrap core CSS -->
        <link href="{{ url_for('style', path='/fa/css/w3.css') }}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ url_for('static', path='/jumbotron.css') }}" rel="stylesheet">
   <title>{% block title %} - My Webpage{% endblock %}</title>
    {% endblock %}
</head>
<body class="w3-light-grey ">
    <div id="content" class=w3-top">
        {% block content %}
            {% include 'nav.html' %}
        {% endblock %}</div>

    <div id="footer" class="w3-bottom w3-align-right">
        {% block footer %}
        &copy; Copyright 2022 by <a href="http://localhost:8050/">you</a>.
        {% endblock %}
    </div>
</body>
</html>
