
            <dl class="w3-padding-small w3-card-4">
                <dt class="w3-padding-small">Username</dt>
                <dd>{{ input_field('username') }}</dd>
                <dt class="w3-padding-small">password</dt>
                <dd>{{ input_field('password', type='password') }}</dd>
                <dt class="w3-padding-small">pin</dt>
                <dd>{{ input_field('pin', type='password') }}</dd>
                <dd><button class="w3-button w3-center" type="submit">submit</button></dd>
